<section class="home-content-top">
    <div class="container">

        <div class="clearfix"></div>
        <h1 class="heading1">Welcome to tkirholder</h1>
        <div class="tabbable-panel margin-tops4 ">
            <div class="tabbable-line">
                <ul class="nav nav-tabs tabtop  tabsetting">
                    <li routerLinkActive="active"><a routerLink="monochrome">Monochrome</a></li>
                    <li routerLinkActive="active"><a routerLink="colored">Colored</a></li>
                    <li routerLinkActive="active"><a routerLink="photo">Photo</a></li>
                    <li routerLinkActive="active"><a routerLink="text">Text</a></li>
                    <li routerLinkActive="active"><a routerLink="list">List</a></li>
                </ul>
                <div class="tab-content margin-tops">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>


