<section class="home-content-top">
    <div class="container">

        <div class="clearfix"></div>
        <h1 class="heading1">Welcome to tkirholder</h1>
        <div class="tabbable-panel margin-tops4 ">
            <div class="tabbable-line">
                <ul class="nav nav-tabs tabtop  tabsetting">
                    <li routerLinkActive="active"><a routerLink="monochrome">Monochrome</a></li>
                    <li routerLinkActive="active"><a routerLink="colored">Colored</a></li>
                    <li routerLinkActive="active"><a routerLink="picture">Picture</a></li>
                    <li routerLinkActive="active"><a routerLink="text">Text</a></li>
                    <li routerLinkActive="active"><a routerLink="list">List</a></li>
                </ul>
                <div class="tab-content margin-tops">
                    <router-outlet></router-outlet>
                    <!--<div class="tab-pane active fade in" id="tab_default_1">-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="row"> <img src="http://placemi.com/petnp/500x300" class="img-responsive"> </div>-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                            <!--<h4 class="heading4">Magento Product Upload Services</h4>-->
                            <!--<p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>-->
                            <!--<h4 class="heading4">Magento Product Upload Services</h4>-->
                            <!--<p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>-->
                            <!--<a href="#">-->
                                <!--<div class="btns">View More <i class="fa fa-angle-right"></i></div>-->
                            <!--</a> </div>-->
                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="tab_default_2">-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="row"> <img src="http://placemi.com/petnp/500x300" class="img-responsive"> </div>-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                            <!--<h4 class="heading4">Yahoo Store Data Entry</h4>-->
                            <!--<p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>-->
                            <!--<h4 class="heading4">Yahoo Store Data Entry</h4>-->
                            <!--<p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>-->
                            <!--<a href="#">-->
                                <!--<div class="btns">View More <i class="fa fa-angle-right"></i></div>-->
                            <!--</a> </div>-->
                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="tab_default_3">-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="row"> <img src="http://placemi.com/petnp/500x300" class="img-responsive"> </div>-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                            <!--<h4 class="heading4">Shopify Product Upload </h4>-->
                            <!--<p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>-->
                            <!--<h4 class="heading4">Shopify Product Upload </h4>-->
                            <!--<p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>-->
                            <!--<a href="#">-->
                                <!--<div class="btns">View More <i class="fa fa-angle-right"></i></div>-->
                            <!--</a> </div>-->
                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="tab_default_4">-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="row"> <img src="http://placemi.com/petnp/500x300" class="img-responsive"> </div>-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                            <!--<h4 class="heading4">OpenCart Product Upload</h4>-->
                            <!--<p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>-->
                            <!--<h4 class="heading4">OpenCart Product Upload</h4>-->
                            <!--<p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>-->
                            <!--<a href="#">-->
                                <!--<div class="btns">View More <i class="fa fa-angle-right"></i></div>-->
                            <!--</a> </div>-->
                    <!--</div>-->
                    <!--<div class="tab-pane fade" id="tab_default_5">-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="row"> <img src="http://placemi.com/petnp/500x300" class="img-responsive"> </div>-->
                        <!--</div>-->
                        <!--<div class="col-md-8">-->
                            <!--<h4 class="heading4">Amazon Product Listing </h4>-->
                            <!--<p>Are you looking for someone who could upload products on your Magento based website? At webenlance India, we can effectively help you with our top quality Magento product upload services. With the pool of well experienced and talented experts, we ensure that your customers have an enriching experience every time they visit your website. Our comprehensive range of services is available all over the globe at extremely low cost. </p>-->
                            <!--<h4 class="heading4">Amazon Product Listing</h4>-->
                            <!--<p>Also a data entry company from India, we provide time-bound and high-quality data entry services and encourage our clients to outsource end-to-end data entry projects to us. </p>-->
                            <!--<a href="#">-->
                                <!--<div class="btns">View More <i class="fa fa-angle-right"></i></div>-->
                            <!--</a> </div>-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>


