<div class="row">
    <div class="col-lg-12 text-center">
        <h2>LIST PICTURES</h2>
        <hr class="star-primary">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8" style="border:1px solid darkblue">
        <span>Just put your image size after our URL and you'll get a placeholder.<br>
            For example:</span><br>
        <span>tkirplaceholder.org/list/360x230</span><br>
        <span>tkirplaceholder.org/list?size=360x230</span>
        <br><br>
        <span>Set pictures theme</span><br>
        <span>tkirplaceholder.org/list/360x230/sports</span><br>
        <span>tkirplaceholder.org/list?size=360x230&theme=sports</span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="picture-list">
            <span>returns JSON:</span><br>
            <pre>{{res | json}}</pre>
        </div>
    </div>
</div>