<div class="row">
    <div class="col-lg-12 text-center">
        <h2>TEXT</h2>
        <hr class="star-primary">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8" style="border:1px solid darkblue">
        <span>Just put your text size after our URL and you'll get a placeholder.<br>
            For example:</span><br>
        <span>tkirplaceholder.org/text/20</span><br>
        <span>tkirplaceholder.org/text?size=20</span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="picture-list">
            <span>{{text}}</span>
        </div>
    </div>
</div>