<div class="row">
    <div class="col-lg-12 text-center">
        <h2>SINGLE MONOCHROME</h2>
        <hr class="star-primary">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8" style="border:1px solid darkblue">
              <span>Just put your image size after our URL and you'll get a placeholder.<br>
                For example:</span><br>
        <span>tkirplaceholder.org/360x120</span><br>
        <span>tkirplaceholder.org/image?size=360x120</span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="monochrome">
            <img src="{{img360x120}}">
            <img src="{{img100x100}}">
            <img src="{{img250x100}}">
        </div>
    </div>
</div>
